<nav class="navbar navbar-inverse" style="background-color: black;">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'newsToday' %}">The Moringa Tribune</a>
        </div>

        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" style="border-radius: 20px;border:none" class="form-control" placeholder="Search Article" name="article">
                </div>

            </form>
        </div>
        <!-- search form end -->

        <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
            <ul>
                <ul class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-expanded="false">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{%url 'newsToday'%}">Home</a>
                        </li>
                        <li>
                            <a href="{%url 'new-article'%}">Create Article</a>
                        </li>
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </ul>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
        </ul>

    </div>
</nav>